<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electron Tutorial</title>
    <!--Bootstrap.css-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--CSS personalizado-->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Hello Electron</h1>
    </div>
    
    <!--Bootstrap-->
    <script src="../public/js/bootstrap.bundle.min.js"></script>

</body>
</html>