@charset "utf-8";
/*Botões (tela pricipal ) */

.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}
/* roda pé*/
footer {
    width: 100%;
    height: 50px;
    background-color: blue;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
footer p {
    color: #ffffff;
    padding: 7px;
    
    
}
/* Botão Reset */
#btnReset {
   width: 48px;
   height: 48px;
   background-image: url('../img/vassoura.png');
   border: none;
   cursor: pointer; 
   margin-left: 10px;
}